extends ./layout/baseLogin.pug
block content 

    main(class="main-login")
        div(class="contenedor-bye")
            h2(class="h2-bye")= `${messages.error}` 

    script(src="/static/js/error.js")